<div class="card" *ngIf="!isLoading">
  <div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>Current jobs : {{jobs.length}}
  </div>
  <div class="card-block">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Category</th>
          <th>Preferred Date</th>
          <th>Hourly Fee</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="jobs.length === 0">
        <tr>
          <td colspan="4">There are no jobs in the DB. Add a new job below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let job of jobs; let i = index">
          <td>{{i+1}}.</td>
          <td>{{job.name}}</td>
          <td>{{job.category}}</td>
          <td>{{job.preferred_date}}</td>
          <td>{{job.hourly_fee}}</td>
          <td>{{job.description}}</td>
          <td class="text-right">
            <button class="btn btn-sm btn-warning" (click)="enableEditing(job)"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteJob(job)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>