<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">
          <img src="../assets/logo.png" alt="Logo" >
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home">Home</a></li>
        <li><a routerLink="/joblist">Apply job</a></li>
        <li><a routerLink="/joblist">Job List</a></li>
        <li><a routerLink="/jobadd">Job Add</a></li>
        <li><a routerLink="/jobseeker">Job Seeker</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <a href="#" class="btn btn-margin">{{ userName }}</a>
        <button class="btn btn-margin" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
          Log In
        </button>
        <button class="btn btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
           Log Out
        </button>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>