<h4 *ngIf="auth.isAuthenticated()" class="text-center">
	<div class="alert alert-success" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> You are logged in!
	</div>
</h4>
<h4 *ngIf="!auth.isAuthenticated()" class="text-center">
	<div class="alert alert-warning" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>You are not logged in! Please <a (click)="auth.login()">Log In</a>		to continue.
	</div>

</h4>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h2 class="text-uppercase">Who are you?</h2>
			<div class="divider"></div>
		</div>
		<div class="col-md-offset-2 col-lg-4 col-md-4">
			<div class="text-center feature-block">
				<span class="fb-icon">
                <img src="../assets/employer.png" alt="employer" >
                </span>
				<h4 class="color-danger">
					<button type="button" class="btn btn-lg" routerLink="/jobemployer">EMPLOYER</button>
				</h4>
			</div>
		</div>

		<div class="col-lg-3 col-md-3">
			<div class="text-center feature-block">
				<span class="fb-icon">
                      <img src="../assets/seeker.png" alt="seeker" >
                </span>
				<h4 class="color-success">
					<button type="button" class="btn btn-lg" routerLink="/jobseeker">SEEKER</button>
				</h4>
			</div>
		</div>
	</div>
</div>